@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default;
}

@theme inline {
  /* --font-sans: var(--font-dunbar-low); */
  /* --color-primary: hsl(37, 97.6%, 67.8%); */
  /* --primary-bg: hsl(250, 100%, 10%); */
}

body {
  background: var(--background);
  color: var(--foreground);
}
