@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "nightsky";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(26.73% 0.0486 219.82);
  --color-base-200: oklch(30.92% 0.0518 219.65);
  --color-base-300: oklch(34.92% 0.0518 219.65);
  --color-base-content: oklch(65.37% 0.0197 205.26);
  --color-primary: oklch(84.3% 0.1345 76.52);
  --color-primary-content: oklch(44.3% 0.1345 76.52);
  --color-secondary: oklch(59.24% 0.2025 355.89);
  --color-secondary-content: oklch(30% 0.2025 355.89);
  --color-accent: oklch(64.37% 0.1019 187.38);
  --color-accent-content: oklch(34.37% 0.1019 187.38);
  --color-neutral: oklch(23.58% 0.08 275.4);
  --color-neutral-content: oklch(83.58% 0.08 275.4);
  --color-info: oklch(61.49% 0.1394 244.93);
  --color-info-content: oklch(31.49% 0.1394 244.93);
  --color-success: oklch(64.44% 0.1508 118.6);
  --color-success-content: oklch(34.44% 0.1508 118.6);
  --color-warning: oklch(65.45% 0.134 85.72);
  --color-warning-content: oklch(35.45% 0.134 85.72);
  --color-error: oklch(58.63% 0.2064 27.12);
  --color-error-content: oklch(28.63% 0.2064 27.12);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui" {
  themes: nightsky --default;
}

/* @see https://tailwindcss.com/docs/theme */
@theme inline {
  --font-sans: var(--font-noah);
  /* --color-primary: hsl(37, 97.6%, 67.8%); */
  /* --primary-bg: hsl(250, 100%, 10%); */
}

@theme {
  --shadow-md: 0 0 0.5em hsla(0, 0%, 0%, 0.5);
  --shadow-lg: 0 0 1em hsla(0, 0%, 0%, 0.5);
}

html {
  font-size: 24px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dunbar-low);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
}

.link {
  text-underline-offset: 0.2em;
}

p > a {
  color: var(--color-warning);
  text-underline-offset: 0.2em;
  transition: color 0.25s;
  &:hover {
    color: var(--color-primary);
  }
}

.required-asterisks {
  label:has(+ input[required])::after,
  label:has(+ textarea[required])::after {
    content: " *";
    color: var(--color-error);
    font-weight: bold;
  }
}

/* Google reCAPTCHA */
.grecaptcha-badge {
  box-shadow: none !important;
}
